back-on-core/.vs/
back-on-core/BusinessLogic/bin/
back-on-core/BusinessLogic/obj/
back-on-core/Common/obj/
back-on-core/ConsoleApp1/bin/
back-on-core/ConsoleApp1/obj/
back-on-core/DataAccess/obj/
back-on-core/DataAccess/bin/
back-on-core/MainApi/bin/
back-on-core/MainApi/obj/
back-on-core/Common/bin/
back-on-core/MainApi/Properties/PublishProfiles/registry.hub.docker.com_nik500.pubxml.user
back-on-core/FileStoreApi/obj/
back-on-core-6.0/Project_Seven/.vs/
back-on-core-6.0/Project_Seven/AdminDataApplication/bin/
back-on-core-6.0/Project_Seven/AdminDataApplication/obj/
back-on-core-6.0/Project_Seven/Auth/obj/
back-on-core-6.0/Project_Seven/BusinessLogic/obj/
back-on-core-6.0/Project_Seven/Common/bin/
back-on-core-6.0/Project_Seven/BusinessLogic/bin/
back-on-core-6.0/Project_Seven/Auth/bin/
back-on-core-6.0/Project_Seven/Common/obj/
back-on-core-6.0/Project_Seven/DataAccess/obj/
back-on-core-6.0/Project_Seven/MainApi/bin/
back-on-core-6.0/Project_Seven/MainApi/obj/
back-on-core-6.0/Project_Seven/PublicDataApplication/bin/
back-on-core-6.0/Project_Seven/PublicDataApplication/obj/
back-on-core-6.0/Project_Seven/DataAccess/bin/
